.foto{
	
    height: 444px;
    width: 428px;
    max-width: 100%;
    border-radius: 262%;
}
.ftcontatos{
	width: 88px;
}
.footer{
	
	position: fixed;
	left:0;
	buttom:0;
	width:100%;
}
.texto{
margin-top: 211px;
}