<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org/" lang="en"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<nav class="navbar navbar-expand-md navbar-dark bg-info">
	<a href="/portfolio/home" class="navbar-brand"><img src="/imagens/portf-img.png"
		width="286px"></a>

	<div class="navbar-collapse collapse" id="navbar4">
		<ul class="navbar-nav">
			<li class="nav-item active"><a class="nav-link"
				href="/portfolio/home">HOME<span class="sr-only">Home</span></a></li>
			<li class="nav-item"><a class="nav-link"
				href="/portfolio/projetos">PROJETOS</a></li>
			<li class="nav-item"><a class="nav-link"
				href="/portfolio/skills">SKILLS</a></li>
			<li class="nav-item"><a class="nav-link"
				href="/portfolio/contato">CONTATO</a></li>

		</ul>
	</div>
</nav>
</html>