<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="https://www.thymeleaf.org/" lang="en"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutP">
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
<title>PORTFÓLIO</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<link rel="stylesheet" href="/css/style.css">
</head>

<section layout:fragment="conteudo principal">
<nav >
   <section class="text-center" >
      <div class="container">
      <img class="foto" src="/imagens/rapha.jpg">
         <h1>RAPHAEL ROCHA</h1>
         <h6>Idade : 20 anos</h6>
         <h6>Rua : Rua Presidente Campo Salles,123</h6>
         <h6>Bairro : Vila Industrial</h6>
         <h6>Cidade : Mogi das Cruzes</h6>
         <h6>STARTER NA EMPRESA GFT BRASIL</h6>
      </div>
   </section>
</nav>
</section>


</html>