<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="https://www.thymeleaf.org/" lang="en"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutP">
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
<title>PORTFÓLIO</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<link rel="stylesheet" href="/css/style.css">
</head>

<section layout:fragment="conteudo principal">
<nav >
   <section class="text-center">
      <div class="container">
      <img class="foto" src="/imagens/rapha.jpg">
        <h1 >CONTATO</h1>
      </div>
   </section>
    <div class="container">
    <div class="text-center">
      <p><b>Para entrar em contato está disponivel minhas Redes Sociais:</b></p>
    </div>
  <div class="row ">
   <div class="col-md-4 mb-5">
    <div class="card-body">
      <a href="https://www.facebook.com/raphael.rocha.528"> <p><b>Facebook</b></p></a>
      <a href="https://www.facebook.com/raphael.rocha.528"><img class="ftcontatos" src="/imagens/images.jfif"></a>
    </div> 
   </div>
   <div class="col-md-4 mb-5">
    <div class="card-body">
    <p><b>WhatsApp:</b> (11)97176-7923<p>
      <a href="http://localhost:8080/portfolio/contato"><img class="ftcontatos" src="/imagens/whats.webp"></a>
    </div>
   </div>
   <div class="col-md-4 mb-5">
    <div class="card-body">
    <p><b>E-mail:</b> rapharocha2015@hotmail.com</p>
      <a href="http://localhost:8080/portfolio/contato"><img class="ftcontatos" src="/imagens/outlook_logo.png"></a>
    </div>
   </div>
   
   
  </div>
  </div>
    
</nav>
</section>

</html>