<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="https://www.thymeleaf.org/" lang="en"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	 layout:decorator="LayoutP">
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
<title>PORTFÓLIO</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<link rel="stylesheet" href="/css/style.css">
</head>

<section layout:fragment="conteudo principal">
<nav >
   <section class="text-center">
      <div class="container">
      <img class="foto" src="/imagens/rapha.jpg">
        <h1 >MEUS PROJETOS</h1>
        <br>
        <h4>EM FASE DE TREINAMENTO:</h4>
        <br>
        <p>Em meu treinamento realizei algumas atividades.Para saber mais entre no meu <a href="https://github.com/Rapharocha">GitHub</a></p>
        <a href="https://github.com/Rapharocha"><img src="/imagens/github_PNG20.png"  width= "250px;"></a>
      </div>
   </section>
</nav>

</section>
</html>