<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="https://www.thymeleaf.org/" lang="en"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutP">
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
<title>PORTFÓLIO</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="../fontawesome-free-5.12.0-web/css/all.css">
<link rel="stylesheet" href="../css/style.css">
</head>

<section layout:fragment="conteudo principal">
<nav >
   <section class="text-center">
      <div class="container">
      <img class="foto" src="/imagens/rapha.jpg">
        <h1 >SKILLS</h1>
        <h4>Treinamento  GFT:</h4>
         <p> <b>SpringMVC:</b> Iniciando, primeiro contato como estágiario no treinamento.<br>
         <b>Linguagens Vista:</b> JAVA/C#/CSS/HTML/JS <br> <b>POO:</b> Básico.   </p>
        <h4>Universidade UMC:</h4>
         <p>Cursando Análise e Desenvolvimento de Sistemas - 2ºSemestre <br> Visto apenas C# Básico até então.</p>
      </div>
       
   </section>
</nav>
</section>
  
</html>